[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
h5py = "*"
pytest = "*"
tqdm = "*"
matplotlib = "*"
cmocean = "*"
mock = "*"

[dev-packages]

[requires]
python_version = "3.8"
